* {
  padding: 0;
  margin: 0;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

.clearfix:after {
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1000px;
}

.bold {
  font-weight: bold;
}

.franchise {
  width: 800px;
  margin: 0 auto;
  font-family: 'Scada', sans-serif;
}

.franchise h2 {
  padding-top: 66px;
  padding-bottom: 75px;
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  line-height: 60px;
  font-weight: bold;
  color: #303445;
}

.franchise > ul > li {
  list-style: none;
  position: relative;
  padding-top: 95px;
  padding-bottom: 100px;
  font-size: 28px;
  line-height: 32px;
  color: #303445;
}

.franchise > ul > li:after {
  content: "";
  display: block;
  position: absolute;
  height: 209px;
  width: 209px;
  border-radius: 50%;
  border: 3px solid #82add5;
  z-index: 3;
}

.franchise > ul > li:before {
  content: "";
  display: block;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 8px;
  background: #82add5 url(../images/franchising_sprite_03.png) no-repeat 0px 0px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 4;
}

.franchise > ul > li:nth-of-type(odd) {
  padding-right: 320px;
}

.franchise > ul > li:nth-of-type(odd):after {
  top: 5px;
  left: 540px;
}

.franchise > ul > li:nth-of-type(odd):before {
  top: 139px;
  left: 535px;
}

.franchise > ul > li:nth-of-type(even) {
  padding-left: 320px;
}

.franchise > ul > li:nth-of-type(even):after {
  top: 10px;
  left: 30px;
}

.franchise > ul > li:nth-of-type(even):before {
  top: 144px;
  left: 181px;
}

.franchise > ul > li:nth-of-type(1) {
  padding-left: 85px;
}

.franchise > ul > li:nth-of-type(1):after {
  background: url(../images/Assos-franchising-photo1_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(1):before {
  background-position: -3px 2px;
}

.franchise > ul > li:nth-of-type(2) {
  padding-right: 30px;
}

.franchise > ul > li:nth-of-type(2):after {
  background: url(../images/Assos-franchising-photo2_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(2):before {
  background-position: -79px 2px;
}

.franchise > ul > li:nth-of-type(3) {
  padding-left: 35px;
}

.franchise > ul > li:nth-of-type(3):after {
  background: url(../images/Assos-franchising-photo3_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(3):before {
  background-position: -155px -2px;
}

.franchise > ul > li:nth-of-type(4) {
  padding-right: 12px;
}

.franchise > ul > li:nth-of-type(4):after {
  background: url(../images/Assos-franchising-photo4_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(4):before {
  background-position: -228px -4px;
}

.franchise > ul > li:nth-of-type(5) {
  padding-left: 120px;
}

.franchise > ul > li:nth-of-type(5):after {
  background: url(../images/Assos-franchising-photo5_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(5):before {
  background-position: -304px 0px;
}

.franchise > ul > li:nth-of-type(6):after {
  background: url(../images/Assos-franchising-photo6_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(6):before {
  background-position: -387px 0px;
}

.franchise > ul > li:nth-of-type(7) {
  padding-left: 150px;
}

.franchise > ul > li:nth-of-type(7):after {
  background: url(../images/Assos-franchising-photo7_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(7):before {
  background-position: -463px 1px;
}

.franchise > ul > li:nth-of-type(8):after {
  background: url(../images/Assos-franchising-photo8_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(8):before {
  background-position: -534px -2px;
}

.franchise > ul > li:nth-of-type(9) {
  padding-left: 80px;
}

.franchise > ul > li:nth-of-type(9):after {
  background: url(../images/Assos-franchising-photo9_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(9):before {
  background-position: -616px 0px;
}

.franchise > ul > li:nth-of-type(10) {
  padding-right: 150px;
}

.franchise > ul > li:nth-of-type(10):after {
  background: url(../images/Assos-franchising-photo10_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(10):before {
  background-position: -710px -7px;
}

.franchise > ul > li:nth-of-type(11) {
  padding-left: 90px;
}

.franchise > ul > li:nth-of-type(11):after {
  background: url(../images/Assos-franchising-photo11_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(11):before {
  background-position: -795px -4px;
}

.franchise > ul > li:nth-of-type(12) {
  padding-right: 50px;
}

.franchise > ul > li:nth-of-type(12):after {
  background: url(../images/Assos-franchising-photo12_03.png) no-repeat 5px 6px;
}

.franchise > ul > li:nth-of-type(12):before {
  background-position: -877px 0px;
}
